= simple_form_for objeto, :html => { :multipart => true} do |form_builder|
  =form_builder.input :nome

  =form_builder.association :local, label_method: :nome, value_method: :id, include_blank: false
  =form_builder.association :categoria, label_method: :nome, value_method: :id, include_blank: false
  =form_builder.file_field :foto 

  .form_actions
	  =form_builder.submit
	  = link_to 'Voltar', objetos_path
